
$sidebar-color: #e8ecef;
$footer-background-color: #00b0e9;
$branding-background-color: #ffffff;
$branding-background-opacity: .85;      // Opacity of logo bar
$hero-background-color: #00b0e9;
$hero-background-opacity: .85;         // Opacity of hero text area

$body-text-color: #58595b;
$body-heading-color: #1e506c;    // Default heading color
$body-heading-2-color: #00b0e9;  // Target H2 heading color
$nav-child-link-color: #58595b;
$link-color: #006eb8;
$arrow-btn-color: #006eb8;
$btn-primary-color: #006eb8;
$image-card-label-background-color: #00b0e9;

$sidebar-branding-area-height: 80px;
$logo-height: 90%;
$logo-height-md: 75%;  
$logo-height-lg: 60%;
